
img{
    animation: heroFloat 3s ease-in-out infinite;
}

@keyframes heroFloat{
    0%{
        transform: translateY(0px);
    }
    50%{
        transform: translateY(-10px);
    }
    100%{
        transform: translateY(0px);
    }
}

/* كارت */

.hero-card{
    animation: floatIn 1s ease forwards;
}

@keyframes floatIn{
    from{
        opacity:0;
        transform: translateY(40px) scale(0.95);
    }
    to{
        opacity:1;
        transform: translateY(0) scale(1);
    }
}

